@model List<Tuple<string, string>>
@{
    ViewBag.Title = "PlanetSearch";
}

<h2>Planet Search Result</h2>

@for (int i = 0; i < Model.Count; i++)
 {
    <br />
    @Html.ActionLink(Model.ElementAt(i).Item1, "SelectedPlanet", new { link = Model.ElementAt(i).Item2 })
    <br />
 }